@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color-scheme: dark;
      /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=6e11b7&c2=01010100&gt=r&gd=dtr
    */
    background: #6E11B7;
    background: radial-gradient(circle at right top, #6E11B752 10%, transparent 40%), radial-gradient(circle at left bottom, #6E11B752 10%, transparent 30%);
}
